.header__light{
    background-color: var(--color-white);
}

.header__dark{
    background-color: hsl(var(--darktheme-secondary-color));
}

.nav__logo__light{
    color: hsl(var(--primary-dark-color));
    font-size: var(--size-13);
}

.nav__logo__dark{
    color: var(--color-white);
    font-size: var(--size-13);
}

.nav__menu {
    justify-content: end;
}

.nav__item{
    display: inline-block;
}

.nav__item:first-child, .nav__item:nth-child(n + 2){
    margin: 0 var(--size-13);
}

.badge__icon__light{
    color: hsl(var(--primary-dark-color));
}

.badge__icon__dark{
    color: var(--color-white);
}

.flag__rotate {
    transform: rotate(15deg);
}

@media screen and (max-width: 768px) {
    .nav__list{
        display: none;
    }

    .nav__item:first-child, .nav__item:nth-child(n + 2){
        margin: 0 var(--size-9);
    }
    
}