.header{
    background-color: var(--color-white);
}

.nav__logo{
    color: hsl(var(--primary-dark-color));
    font-size: var(--size-13);
}

.nav__menu {
    justify-content: end;
}

.nav__item{
    display: inline-block;
}

.nav__item:first-child{
    margin: 0 var(--size-9);
}

.nav__item:nth-child(n + 2){
    margin: 0 var(--size-13);
}

.badge__icon{
    color: hsl(var(--primary-dark-color));
}

.flag__rotate {
    transform: rotate(15deg);
}

@media screen and (max-width: 768px) {
    .nav__list{
        display: none;
    }
    
}