@import url("./styles/variable.css");
@import url("./styles/utils.css");
@import url("./styles/loader.css");



::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background-color: white;
}

::-webkit-scrollbar-thumb {
  background-color: hsl(var(--primary-dark-color));
  border-radius: var(--radius-rounded);
}